<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">

<head></head>



<body>
<div layout:fragment="content">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Movimientos Registrados </h1>

        </div>

        <div class="row">
            <table class="table table-bordered dataTable">
                <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Empresa</th>
                    <th>Movimiento</th>
                    <th>Concepto</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usr : ${/enterprises/allmovements}">
                    <td th:text="${usr.empleadoid}"></td>
                    <td th:text="${usr.empresaid}"></td>
                    <td th:text="${usr.monto}"></td>
                    <td th:text="${usr.concepto}"></td>

                    <!--  <td>
                      <a class="btn btn-primary" th:href="@{/admin/edituser/{postId}(postId=${usr.id})}">
                            Editar
                        </a>

                        <a th:href="@{/admin/deleteuser/{postId}(postId=${usr.id})}" class="btn btn-success" >
                            Eliminar
                        </a>
                    </td>    -->
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


</body>

</html>