<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master}">

<head></head>



<body>
<div layout:fragment="content">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Movimientos Registrados </h1>

        </div>

        <div class="row">
            <table class="table table-bordered dataTable">
                <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Empleado</th>
                    <th>Empresa</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mov : ${movimientos}">
                    <td th:text="${mov.concepto}"></td>
                    <td th:text="${mov.monto}"></td>
                    <td>
                    <select disabled name="empleado" class="form-control">
                        <option  th:each="emp : ${empleados}" th:value="${emp.id}" th:text="${emp.nombre}"></option>
                    </select>
                    </td>
                    <td>
                    <select disabled name="empresa" class="form-control">
                        <option  th:each="empr : ${empresas}" th:value="${empr.id}" th:text="${empr.nombreEmpresa}"></option>
                    </select>
                    </td>
                    <!--  <td>
                      <a class="btn btn-primary" th:href="@{/admin/edituser/{postId}(postId=${usr.id})}">
                            Editar
                        </a>

                        <a th:href="@{/admin/deleteuser/{postId}(postId=${usr.id})}" class="btn btn-success" >
                            Eliminar
                        </a>
                    </td>    -->
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


</body>

</html>